.booking_form{
    display: block;
    width:100%
}
.booking_input_container{
    width: 100%;
}
.booking_button {
    width: 152px;
    height: 54px;
    background: #ffa37b;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}