.home_title {
    font-size: 110px;
    font-weight: 600;
    color: #fff;
    line-height: 1.2;
}

.booking_form_container {
    width: 100%;
    margin-top: 34px;
    padding-left: 78px;
    padding-right: 88px;
}

.home_container  {
    display: flex;
    height: 90vh;
    align-items: center;
}